<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cs.jou.infrastructure.mapper.StrategyDetailMapper">

    <resultMap id="BaseResultMap" type="cs.jou.infrastructure.pojo.StrategyDetail">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="strategyid" column="strategyId" jdbcType="BIGINT"/>
            <result property="awardid" column="awardId" jdbcType="BIGINT"/>
            <result property="awardcount" column="awardCount" jdbcType="INTEGER"/>
            <result property="awardrate" column="awardRate" jdbcType="DECIMAL"/>
            <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updatetime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,strategyId,awardId,
        awardCount,awardRate,createTime,
        updateTime
    </sql>
</mapper>
